{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0,
    "newline-before-return": 2,
    "no-param-reassign": [0, {
      "props": false
    }]
  },
  "globals": {
    "window": true,
    "document": true,
    "describe": true,
    "it": true,
    "context": true,
  }
}
